@import 'ui-variables';

.highlight {
  &.linter-warning .region {
    background: linear-gradient(
      to bottom,
      @background-color-warning 0%,
      fadeout(@background-color-warning, 93%) 5%,
      fadeout(@background-color-warning, 93%) 95%,
      @background-color-warning 100%);
    border-left: 1px solid @background-color-warning;
    border-right: 1px solid @background-color-warning;
  }
  &.linter-error .region {
    background: linear-gradient(
      to bottom,
      @background-color-error 0%,
      fadeout(@background-color-error, 93%) 5%,
      fadeout(@background-color-error, 93%) 95%,
      @background-color-error 100%);
    border-left: 1px solid @background-color-error;
    border-right: 1px solid @background-color-error;
  }
}

