// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
// @import 'ui-variables';

@import '../node_modules/font-awesome/less/variables';
@fa-font-path: "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts"; // for referencing Bootstrap CDN font files directly
@import '../node_modules/font-awesome/less/path';

@error-color: #b22222;
@warning-color: #DAA520;

.gutter.linter-gutter-enabled .line-number {
  &:before {
    visibility: hidden;
    position: relative;
    bottom: .19em;
    margin-right: .6em;
    content: "\f111";
    font-size:  0.7em;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
  }

  &.linter-warning:before {
    visibility: visible !important;
    color: @warning-color;

  }

  &.linter-error:before {
    visibility: visible !important;
    color: @error-color;
  }
}

.linter-statusbar {
  margin-bottom: 0;
  dd {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

  dt {
    float: left;
    width: 70px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal !important;
  }
  dd {
    padding-left: 25px;
    margin-left: 50px;
    .error-message {
      cursor: pointer;
    }
    .pos {
      color: rgba(255, 255, 255, 0.2);
      padding: 2px;
      border-radius: 1px 2px;
    }
  }
}

.highlight {
  &.linter-warning .region {
    background: linear-gradient(to bottom, @warning-color 0%, fadeout(@warning-color, 70%) 20%, fadeout(@warning-color, 70%) 80%, @warning-color 100%);
    border-left: 2px solid @warning-color;
    border-right: 2px solid @warning-color;
  }
  &.linter-error .region {
    background: linear-gradient(to bottom, @error-color 0%, fadeout(@error-color, 70%) 20%, fadeout(@error-color, 70%) 80%, @error-color 100%);
    border-left: 2px solid @error-color;
    border-right: 2px solid @error-color;
  }
}
